boby{
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.add_restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_message{
    text-align: center;
}


#map {
width: 80vw;
height: 50vh;
}
